.header-component {
  font-family: Inter;
  .name-text {
    font-size: 16px;
    font-weight: 600;
    line-height: 19.36px;
    color: #100324;
  }
  .role-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    color: #10032480;
  }
}
