@import './homepage/homeLayout.module.scss';
@import './footer/footer.module.scss';
@import './header/header.module.scss';
@import './meet/schedule.module.scss';
body {
  font-family: 'Space Grotesk';
}
#__next {
  background-color: #ffffff;
}
.swal-footer {
  text-align: center;
}
