@import './homepage/homeLayout.module.scss';
@import './footer/footer.module.scss';
@import './header/header.module.scss';
@import './meet/schedule.module.scss';
body {
  font-family: 'Space Grotesk';
  background-color: #ffffff;
}
// #__next {
//   background-color: #ffffff;
// }
.swal-footer {
  text-align: center;
}
.\lk-prejoin {
  height: auto !important;
}
.\lk-control-bar {
  z-index: 1400;
}
@media screen and (max-width: 760px) {
  .\lk-control-bar {
    .\lk-button,
    .\lk-disconnect-button {
      border-radius: 50% !important;
      height: 50px !important;
      width: 50px !important;
      padding: 0 !important;
      // svg {
      //   width: 100%;
      //   height: auto;
      // }
    }
    .\lk-button-group-menu {
      display: none !important;
    }
    .participant-button, .hand-raised {
      span {
        display: none;
      }
    }
  }
}
.\lk-participant-placeholder {
  img {
    border-radius: 50%;
  }
}
